:root {
    --dark-blue: rgb(45, 49, 77);
    --lime-green: #31d35c;
    --bright-cyan: #2bb7da;
    --greyish-blue: rgb(150, 152, 166);
    --light-greyish-blue: rgb(243, 244, 246);
    --very-light-grey: #fafafa;
}

* {
    font-family: 'Public Sans', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Typography */
body {
    font-size: 1.1rem;
    color: var(--dark-blue);
    overflow-x: hidden;
    text-align: center;
}

h1, h2, h3 {
    font-weight: 300;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 2.5rem;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-weight: 400;
    margin: .8em 0 .8em 0;
}

nav a,
button {
    font-size: 1rem;
}

p, 
nav a {
    color: var(--greyish-blue);
    line-height: 1.7rem;
}

button {
    font-family: inherit;
    font-weight: 700;
}


/* layout */ 
header, 
nav, 
nav>ul, 
.hero-section, 
footer, 
.container {
    display: flex;
    align-items: center; 
}

section, footer {
    padding: 0 8vw;
    position: relative;
    z-index: 0;
}

.bg-decor-desktop{
    width: 80vw;
    position: absolute;
    top: -35%;
    right: -20%;
    z-index: -1;
    display: none;
}

.bg-decor-mobile {
    width: 100vw;
    position: absolute;
    top: -13%;
    right: 0;
    display: block;
    z-index: -1;
}

.container {
    display: flex;
    gap: 2vw;
    padding: 2rem 0;
    flex-wrap: wrap;
}

/* BUTTONS */
.cta-btn {
    color: white;
    background: var(--lime-green);
    background: linear-gradient(48deg, var(--lime-green) 0%, var(--bright-cyan) 100%);
    padding: 1rem 2.5rem;
    border: none;
    align-self: center;
    border-radius: 1.5em;
}

header .cta-btn {
    display: none;
}

.fa-bars,
.fa-xmark {
    margin-left: auto;
    cursor: pointer;
    scale: 1.5;
}

.fa-bars:hover,
.fa-xmark:hover {
    color: #2EC59A;
}

.cta-btn:hover,
.cta-btn:focus {
    background: var(--lime-green);
    background: linear-gradient(48deg, rgba(49,211,92,.65) 0%, rgba(43,183,218,.65) 100%);
    cursor: pointer;
}


/* HEADER */
header {
    padding: 1em 8vw;
    position: relative;
    background-color: white;
    z-index: 2;
}

.logo-icon {
    padding: .3em 0;
}

nav {
    margin: 0 auto;
    display: none;
}

nav ul {
    list-style-type: none;
    gap: .8em;
    
}

nav li {
    position: relative;
}

nav a {
    color: var(--greyish-blue);
    text-decoration: none;
}

nav li::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: .3rem;
    background: transparent;
    transition: background 0.2s;
    top: 3em;
}

nav li:hover::after {
    background: linear-gradient(48deg, var(--lime-green) 0%, var(--bright-cyan) 100%);
}


/* HERO */
.hero-section {
    background: rgb(250,250,250);
    background: linear-gradient(180deg, rgba(250,250,250,1) 0%, rgba(255,255,255,1) 100%);
    padding-bottom: 2em;
    flex-direction: column;
}

.hero-text {
    max-width: 600px;
    margin: 2em 0
}

.hero-text p {
    max-width: 500px;
    margin-bottom: 3em;
}

.hero-img {
    width: 80%;
    margin-top: -35%;
    z-index: 1;
}



/* SERVICES & ARTICLES */

.services-section, 
.articles-section {
    padding-top: 4em;
    padding-bottom: 3em;
}

.service, 
article {
    margin-top: 2em;
    overflow: hidden;
    width: 100%;
    align-self: flex-start;
}

.services-section {
    background-color: var(--light-greyish-blue);
}

.services-container,
.articles-container  {
    align-content: space-between;
}

.services-main {
    max-width: 650px;
}

.service img {
    margin: auto;
    display: block;
    margin-bottom: 1.5em;
}

article {
    text-align: left;
    align-self: flex-start;
}

article img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.article-text {
    padding: .8em;
}

.article-author {
    font-size: .8rem;
    color: var(--greyish-blue);
}



/* FOOTER */
footer {
    color: white;
    background-color: var(--dark-blue);
    padding-top: 2em;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    justify-content: center;
}

.media-container {
    padding: 0;
}

.footer-nav-container {
    margin: 0 auto;
    display: flex;
    gap: .8em;
    flex-direction: column;
}

.footer-nav-container .col {
    display: flex;
    flex-direction: column;
    gap: 1em;
} 

.footer-nav-container .col a {
    color: #fff;
    text-decoration: none;
}

.footer-nav-container .col a:hover,
.footer-nav-container .col a:focus {
    color: #42e892d5;
}

.footer-corner {
    display: flex;
    flex-direction: column;
}

.footer-corner small {
    color: var(--greyish-blue);
    margin: 2em;
}

.media-icon {
    scale: 1.3;
    margin: 0 .4em;
}

.media-icon:hover,
.media-icon:focus {
    filter: sepia(25%) saturate(10000%) hue-rotate(80deg) brightness(90%) contrast(118%);
    outline: none;
}


/* MEDIA QUERIES */

@media (min-width: 820px) {
    body {
        text-align: left;
    }

    nav, 
    header .cta-btn,
    .bg-decor-desktop {
        display: block;
    }
    
    .fa-bars,
    .fa-xmark, 
    .footer-nav-container, 
    .bg-decor-mobile {
        display: none;
    }

    h1 {
        font-size: 2.5rem;
    }

    .hero-section {
        flex-direction: row;
        padding: 5rem 8vw;
    }

    .hero-text {
        width: 40vw;
    }

    .hero-img {
        position: absolute;
        width: 50vw;
        max-width: 700px;
        right: -10%;
        margin-top: -15%;
    }

    .service, article {
        width: 45%;
    }

    .service img {
        margin: 1em 0;
    }

    footer,
    .footer-nav-container {
        flex-direction: row;
        justify-content: space-between;
        gap: 3em;
        padding-bottom: 1em;
    }
    
    .footer-nav-container .col {
        flex-direction: column;
    }

    .media-icon {
        scale: 1.3;
        margin: 0;
    } 
}


@media (min-width: 1500px) {
    .container {
        flex-wrap: nowrap;
    }

    .footer-nav-container {
        display: flex;
    }
} 



@media (min-width: 1800px) {
    body, nav a  {
        font-size: 1.3rem;
    }

    h1 {
        font-size: 5rem
    }

    h2 {
        font-size: 3.2rem;
    }
    
    h3 {
        font-size: 1.7rem;
    }
    
    .cta-btn {
        font-size: 1.6rem;
    }

    .service-img {
        margin: .8em 0 0 .8em;
    }

    .hero-img {
        max-width: 900px;
    }
}

@media (max-width: 820px) {
    .hamburger-nav {
        display: flex;
        background-color: white;
        position: absolute;
        top: 4.2em;
        right: 1em;
        width: 90vw;
        max-width: 300px;
        border-radius: .3em;
        padding: 1em 0;
        -webkit-box-shadow: 3px 10px 188px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 10px 188px 0px rgba(0,0,0,0.75);
        box-shadow: 3px 10px 188px 0px rgba(0,0,0,0.75);
    }
    
    .hamburger-nav ul {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    
    .hamburger-nav a{
        color: var(--dark-blue);
        font-weight: 400;
    }

    nav li::after {
        top: 1.7em;
    }
}