/* font-family: 'Public Sans', sans-serif; */
:root {
    --dark-blue: rgb(45, 49, 77);
    --lime-green: #31d35c;
    --bright-cyan: #2bb7da;
    --greyish-blue: rgb(150, 152, 166);
    --light-greyish-blue: rgb(243, 244, 246);
    --very-light-grey: #fafafa;
}

* {
    font-family: 'Public Sans', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Typography */
body {
    font-size: 1.1rem;
    color: var(--dark-blue);
    overflow-x: hidden;
}

h1, h2, h3 {
    font-weight: 300;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 3.2rem;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-weight: 400;
    margin: .8em 0 .8em 0;
}

nav a, button {
    font-size: 1rem;
}

p, nav a {
    color: var(--greyish-blue);
    line-height: 1.7rem;
}

button {
    font-family: inherit;
    font-weight: 700;
}


/* layout */ 
header, nav, nav>ul, .hero-section, footer, .container {
    display: flex;
    align-items: center;
    
}

section, footer {
    padding: 0 10vw;
    position: relative;
    z-index: 0;
}

.bg-decor{
    width: 80vw;
    position: absolute;
    top: -35%;
    right: -20%;
    z-index: -1;
}

.container {
    gap: 1em;
    padding: 3em 0;
}

/* BUTTONS */
.cta-btn {
    color: white;
    background: var(--lime-green);
    background: linear-gradient(48deg, var(--lime-green) 0%, var(--bright-cyan) 100%);
    padding: .8rem 2rem;
    border: none;
    border-radius: 1.5em;
}

.cta-btn:hover {
    background: var(--lime-green);
    background: linear-gradient(48deg, rgba(49,211,92,.65) 0%, rgba(43,183,218,.65) 100%);
    cursor: pointer;
}


/* HEADER */
header {
    padding: 1em 10vw;
    position: relative;
    background-color: white;
    z-index: 2;
}

nav {
    margin: 0 auto
}

nav ul {
    list-style-type: none;
    gap: .8em;
    
}

nav li {
    position: relative
}

nav a {
    color: var(--greyish-blue);
    text-decoration: none;
}

nav li::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: .3rem;
    background: transparent;
    transition: background 0.2s;
    top: 2.8rem;
}

nav li:hover::after {
    background: linear-gradient(48deg, var(--lime-green) 0%, var(--bright-cyan) 100%);
}


/* HERO */
.hero-section {
    background: rgb(250,250,250);
    background: linear-gradient(180deg, rgba(250,250,250,1) 0%, rgba(255,255,255,1) 100%);
    overflow: hidden;
}

.hero-text {
    width: 40vw;
    max-width: 600px;
    margin: 7em 0;
}

.hero-text p {
    margin-bottom: 3em;
}


.hero-img {
    position: absolute;
    width: 700px;
    top: -3rem;
    right: -6rem;
    z-index: 1;
}



/* SERVICES & ARTICLES */

.services-section, .articles-section {
    padding-top: 7em;
    padding-bottom: 3em;
}

.service, article {
    width: 18vw;
    overflow: hidden;
}

.services-section {
    background-color: var(--light-greyish-blue);
}

.services-main {
    max-width: 650px;
}

.service img {
    display: block;
    margin-bottom: 1.5em;
}

.articles-container {
    padding: 1em 0;
}

article {
    min-height: 550px;
}

article img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.article-text {
    padding: .8em;
}

.article-author {
    font-size: .8rem;
    color: var(--greyish-blue);
}



/* FOOTER */
footer {
    color: white;
    background-color: var(--dark-blue);
}

.footer-logos-container img {
    filter: invert(100%) sepia(100%) saturate(9%) hue-rotate(144deg) brightness(103%) contrast(102%);
}